.disp-flex {
    display: flex;
    
}

.col-1 {
    width: 20%;
    border: 1px solid black;
}

.col-2 {
    width: 65%;
    border: 1px solid black;
}

.col-3 {
    width: 15%;
    border: 1px solid black;
}

a {
    display: block;
    margin: 20px;
}

ul li {
    margin: 40px;
}

p {
    font-size: 30px;
    padding: 10px 30px;
    text-align: justify;
}